.header__lang-link {
  padding-left: 18px;
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  transition: opacity 1s ease-in-out;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
