.places {
  padding-top: 92px;
  max-width: 984px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .places {
    max-width: calc(100% - 48px);
  }
}

@media (max-width: 768px) {
  .places {
    max-width: calc(100% - 32px);;
  }
}
