.cover__subtitle {
  margin: 0 auto;
  padding-top: 32px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  text-align: center;
}

@media (max-width: 768px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
    padding-top: 16px;
  }
}
