.footer__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  transition: opacity 1s ease-in-out;
}

.footer__link:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer__link {
    margin: 0 0 32px 0;

    font-size: 24px;
    line-height: 24px;
  }
}
