.lead__title {
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;

  margin: 0 auto;
  padding-top: 56px;
  max-width: 720px;
}

@media (max-width: 1280px) {
  .lead__title {
    padding-top: 48px;
  }
}

@media (max-width: 768px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
