.footer__copyright {
  display: flex;
  justify-content: flex-end;
  padding: 94px 48px 24px 0;
  margin: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

@media (max-width: 1023px) {
  .footer__copyright {
    padding: 88px 24px 24px 0;
  }
}

@media (max-width: 767px) {
  .footer__copyright {
    justify-content: flex-start;
    padding: 48px 0 24px;
  }
}
