.lead__subtitle {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;

  margin: 0;
  padding-top: 32px;
  max-width: 640px;
}
