.cover__title {
  margin: 0 auto;
  padding-top: 245px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;

  max-width: 560px;
}

@media (max-width: 768px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;

    padding-top: 33px;
  }
}
