.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    justify-content: flex-start;
    padding: 64px 0 0 16px;
  }
}
