.header__lang-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 18px 0 0 0;
}

@media (max-width: 767px) {
  .header__lang-links {
    padding-top: 14px;
  }
}
